<footer class="l-footer">
    <div class="l-footer__blk">
        <div class="l-footer__blk--logo">
            <a href="">
                <img src="./images/common/logo.svg" width="140px" height="32px" alt="キテレツ">
            </a>
        </div>
        <div class="l-footer__blk--nav">
            <ul>
                <li>
                    <a href="">
                        トップ
                    </a>
                </li>
                <li>
                    <a href="">
                        キテレツについて
                    </a>
                </li>
                <li>
                    <a href="">
                        サービス
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="">
                        制作実績
                    </a>
                </li>
                <li>
                    <a href="">
                        ブログ
                    </a>
                </li>
                <li>
                    <a href="">
                        プライバシーポリシー
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="">
                        サイトマップ
                    </a>
                </li>
                <li>
                    <a href="">
                        お問い合わせ
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <p class="p-copyright">
        © 2024 kitere-z.
    </p>
    <div class="contacttop">
        <a href="">
            お問い<br>合わせ
        </a>
    </div>
    <div class="pagetop js-action-btn">
        <a href="">
            PAGE<br>TOP
        </a>
    </div>
    <div id="drawerMenu" class="l-drawer">
        <ul>
            <li>
                <a href="">
                    トップ
                </a>
            </li>
            <li>
                <a href="">
                    キテレツについて
                </a>
            </li>
            <li>
                <a href="">
                    サービス
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="">
                    制作実績
                </a>
            </li>
            <li>
                <a href="">
                    ブログ
                </a>
            </li>
            <li>
                <a href="">
                    プライバシーポリシー
                </a>
            </li>
        </ul>
        <ul>
            <li>
                <a href="">
                    サイトマップ
                </a>
            </li>
            <li>
                <a href="">
                    お問い合わせ
                </a>
            </li>
        </ul>
    </div>
</footer>
<script src="./js/main.js"></script>
</body>
</html>