@use "../../foundation/mixin" as *;
@use "../../foundation/variables" as *;

//お問い合わせボタン
.c-cbtn {
  margin-top: -8px;
  .c-cbtn__btn {
    background: #ebc03c;
    color: #fff;
    width: 180px;
    height: 40px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 5px #deae48;
    transition: all 300ms ease;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      margin: auto;
      vertical-align: middle;
      right: 20px;
      width: 7px;
      height: 7px;
      border-top: 2px solid #fff;
      border-right: 2px solid #fff;
      transform: rotate(45deg) translateY(-50%);
    }
    &:hover {
      box-shadow: none;
      transform: translateY(3px);
      transition: all 300ms ease;
      opacity: 1;
    }
  }
}
