  <main class="l-main">
    <!-- Sliderを包むコンテナ要素 -->
    <div class="swiper">
      <!-- スライド要素を包む要素 -->
      <div class="swiper-wrapper">
        <!-- 各スライド -->
        <div class="swiper-slide">
          <img src="./images/top/mv.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="./images/top/mv02.jpg" alt="">
        </div>
        <div class="swiper-slide">
          <img src="./images/top/mv03.jpg" alt="">
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="sec">
      <div class="about">
          <div class="about_blk">
              <!-- <div class="ico_about">
                  <img src="https://placehold.jp/150x150.png" alt="">
              </div> -->
              <h2>
                  <span>常</span>識をぶち壊す<span>モノ</span>づくり
              </h2>
              <p>
                キテレツのモットーは常識をぶち壊すモノづくり。<br>
                今や、WEBサイトはあって当たり前の時代、そんな時代だからこそ、他とは違った形で、アプローチすることをモットーに、
                WEBサイトの制作を始めました。
              </p>
              <p>
                一つWEBサイトをとっても、<br>
                デザイン、コーディング、マーケティングと分かれる中、キテレツで、<br>
                他と違った、WEBサイトを作成いたします。
              </p>
              <div class="cmn_btn">
                  <a href="">
                      詳しく見る
                  </a>
              </div>
          </div>
      </div>
      <div class="service_bg">
          <div class="service">
              <div class="service_blk">
                  <!-- <div class="ico_service">
                      <img src="https://placehold.jp/150x150.png" alt="">
                  </div> -->
                  <h2>
                      <span>サ</span>ービス
                  </h2>
                  <p>
                      ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
                      ダミーテキストダミーテキストダミーテキストダミーテキスト
                  </p>
                  <div class="">
                    <ul>
                      <li>
                        <h3>
                          WEBサイト制作
                        </h3>
                        <p>
                          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
                          ダミーテキストダミーテキストダミーテキストダミーテキスト    
                        </p>
                      </li>
                      <li>
                        <h3>
                          ECサイト制作
                        </h3>
                        <p>
                          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
                          ダミーテキストダミーテキストダミーテキストダミーテキスト    
                        </p>
                      </li>
                      <li>
                        <h3>
                          デザイン制作
                        </h3>
                        <p>
                          ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
                          ダミーテキストダミーテキストダミーテキストダミーテキスト    
                        </p>
                      </li>
                    </ul>
                  </div>
              </div>
          </div>
      </div>
      <div class="service_bg" style="background: #333;">
        <div class="service">
            <div class="service_blk">
                <h2>
                    <span>制</span>作実績
                </h2>
                <p>
                    ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
                    ダミーテキストダミーテキストダミーテキストダミーテキスト
                </p>
                <div class="">
                  <ul>
                    <li>
                      <h3>
                        ダミーテキス
                      </h3>
                      <p>
                        ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
                        ダミーテキストダミーテキストダミーテキストダミーテキスト    
                      </p>
                    </li>
                    <li>
                      <h3>
                        ダミーテキス
                      </h3>
                      <p>
                        ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
                        ダミーテキストダミーテキストダミーテキストダミーテキスト    
                      </p>
                    </li>
                    <li>
                      <h3>
                        ダミーテキス
                      </h3>
                      <p>
                        ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
                        ダミーテキストダミーテキストダミーテキストダミーテキスト    
                      </p>
                    </li>
                  </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="service_bg">
      <div class="service">
          <div class="service_blk">
              <h2>
                  <span>ブ</span>ログ
              </h2>
              <p>
                  ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
                  ダミーテキストダミーテキストダミーテキストダミーテキスト
              </p>
              <div class="">
                <ul>
                  <li>
                    <h3>
                      ダミーテキス
                    </h3>
                    <p>
                      ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
                      ダミーテキストダミーテキストダミーテキストダミーテキスト    
                    </p>
                  </li>
                  <li>
                    <h3>
                      ダミーテキス
                    </h3>
                    <p>
                      ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
                      ダミーテキストダミーテキストダミーテキストダミーテキスト    
                    </p>
                  </li>
                  <li>
                    <h3>
                      ダミーテキス
                    </h3>
                    <p>
                      ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト<br>
                      ダミーテキストダミーテキストダミーテキストダミーテキスト    
                    </p>
                  </li>
                </ul>
              </div>
          </div>
      </div>
  </div>
  
    </div>
  </main>


    


        <script>

            const swiper = new Swiper(".swiper", {
                loop: true,
              // ページネーションが必要なら追加
              pagination: {
                el: ".swiper-pagination"
              },
              effect: "coverflow",
              grabCursor: true,
              centeredSlides: true,
              slidesPerView: "1.1",
            
              coverflowEffect: {
                rotate: 50,
                stretch: 10,
                depth: 100,
                modifier: 1,
                slideShadows: true
              },
            
              // ナビボタンが必要なら追加
              navigation: {
                nextEl: ".swiper-button-next",
                prevEl: ".swiper-button-prev"
              }
            
            
              
            });
            
                </script>