<header class="l-header">
    <div class="l-header__blk">
        <h1>
            <a href="">
                <img src="./images/common/logo.svg" width="140px" height="32px" alt="キテレツ">
            </a>
        </h1>
        <p>
            山口県でWEB制作を行うなら
        </p>
    </div>
    <nav class="l-header__nav">
        <ul class="l-header__list">
            <li class="l-header__list--item">
                <a href="">
                    トップ
                </a>
            </li>
            <li class="l-header__list--item">
                <a href="">
                    キテレツについて
                </a>
            </li>
            <li class="l-header__list--item">
                <a href="">
                    サービス
                </a>
            </li>
            <li class="l-header__list--item">
                <a href="">
                    制作実績
                </a>
            </li>
            <li class="l-header__list--item">
                <a href="">
                    ブログ
                </a>
            </li>
            <li class="c-cbtn">
                <a class="c-cbtn__btn" href="">
                    お問い合わせ
                </a>
            </li>
        </ul>
    </nav>
    <div id="hamMenu" class="l-header__ham">
        <span></span>
        <span></span>
        <span></span>
    </div>
</header>